@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.con {
  width: 97%;
  margin: 0 auto;
}

.ant-menu-item-selected {
  background-color: rgba(128, 128, 128, 0.155) !important;
}

.right {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}
.right::-webkit-scrollbar {
  width: 8px;
  height: 400px;
}

.right::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0;
}

.right::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
  border: 2px solid transparent;
}

.mycon {
  height: calc(100vh - 56px);
}
